@charset "UTF-8";
#canvas-frame {
	height:500px;
    position: relative;
}
#canvas-frame canvas {
	position: absolute;
	left:0;
}
.arrow {
	mask-image: url("../img/arrow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/arrow_500.png");
	-webkit-mask-size: contain;
}
.onigiri {
	mask-image: url("../img/onigiri_600.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/onigiri_600.png");
	-webkit-mask-size: contain;
}