@charset "UTF-8";
/* 背景 */
#divBack {
    background: linear-gradient(#dddddd, #ffffff);
}

/* タイトル */
.title_base {
	color:#222222;
}

/* 設定別カラー */
.settings_Title::first-letter {
	color:#000099;
	font-size:40px;
}
.settings_Title2::first-letter {
	color:#990000;
	font-size:40px;
}
.settings_Display::first-letter {
	color:#777700;
	font-size:40px;
}
.settings_Difficulty::first-letter {
	color:#990000;
}
.settings_Speed::first-letter {
	color:#777700;
}
.settings_Motion::first-letter {
	color:#667700;
}
.settings_Reverse::first-letter {
	color:#557733;
}
.settings_Shuffle::first-letter {
	color:#337733;
}
.settings_AutoPlay::first-letter {
	color:#337744;
}
.settings_Gauge::first-letter {
	color:#227755;
}
.settings_Adjustment::first-letter {
	color:#007777;
}
.settings_Fadein::first-letter {
	color:#005577;
}
.settings_Volume::first-letter {
	color:#003377;
}
.settings_Appearance::first-letter {
	color:#9900ff;
}

.settings_Disabled {
	color: #999999;
}
.settings_FadeinBar {
	color:#000000;
}

/* 設定画面：ゲージ設定詳細 */
.settings_gaugeVal {
	font-size:12px;
}
.settings_lifeVal {
	color: #996600;
}
.settings_gaugeTable {
	width: 280px;
	margin: 0 auto;
	border: 1px #222222 solid; 
	border-collapse: collapse;
}
.settings_gaugeTable td {
	width: 65px;
}

.keyconfig_warning {
	color: #999900;
}
.keyconfig_ConfigType::first-letter {
	color:#003377;
}
.keyconfig_ColorType::first-letter {
	color:#773300;
}
.keyconfig_Changekey {
	color:#999900;
}
.keyconfig_Defaultkey {
	color:#000099;
}

/* 結果画面：項目、設定値 */
.result_lbl {
	color: #333333;
}
.result_style {
	color: #111111;
}

/* 結果画面：判定名 */
.common_ii {
	color: #007777;
}
.common_shakin {
	color: #007700;
}
.common_matari {
	color: #775500;
}
.common_shobon {
	color: #000077;
}
.common_uwan {
	color: #770000;
}
.common_kita {
	color: #777700;
}
.common_iknai {
	color: #557700;
}
.common_combo {
	color: #000000;
}
.common_score {
	color: #000000;
}

/* 結果画面：スコア */
.result_score {
	color: #000000;
}
/* 結果画面：ハイスコア差分、ハイスコア時のカラー */
.result_scoreHiBlanket {
	color: #222222;
}
.result_scoreHi {
	color: #000000;
}
.result_scoreHiPlus {
	color: #777700;
}
/* 結果画面：ハイスコア更新外の表示色 */
.result_noRecord {
	color: #222222;
}
/* 結果画面：完全PF、PF、FC、Cleared、Failed */
.result_AllPerfect {
	color:#999900;
}
.result_Perfect {
	color:#666600;
}
.result_FullCombo {
	color:#007777;
}
.result_Cleared {
	color:#000066;
}
.result_Failed {
	color:#990000;
}
.result_Window::first-letter {
	font-size:80px;
}

/* ボタン */
.button_Default {
	color: #000000;
	background-color: #eeeeee;
}
.button_Default:hover {
	color: #000000;
	background-color: #bbbbbb;
}
.button_Mini {
	color: #000000;
	background-color: #cccccc;
}
.button_Mini:hover {
	color: #000000;
	background-color: #999999;
}
.button_Back {
    color: #000000;
	background-color: #ccccff;
}
.button_Back:hover {
    color: #000000;
	background-color: #9999ff;
}
.button_Setting {
	color: #000000;
	background-color: #ffffcc;
}
.button_Setting:hover {
	color: #000000;
	background-color: #ffff66;
}
.button_Next {
	color: #000000;
	background-color: #ffcccc;
}
.button_Next:hover {
	color: #000000;
	background-color: #ff9999;
}
.button_Reset {
	color: #000000;
	background-color: #ccffcc;
}
.button_Reset:hover {
	color: #000000;
	background-color: #99ff99;
}
.button_Tweet {
	color: #000000;
	background-color: #ccffff;
}
.button_Tweet:hover {
	color: #000000;
	background-color: #66ffff;
}