@charset "UTF-8";
#canvas-frame {
	height:500px;
	position: relative;
	overflow: hidden;
}
#canvas-frame canvas {
	position: absolute;
	left:0;
	overflow: hidden;
}

input[type=range] {
	-webkit-appearance: none;
	background: transparent;
	height: 20px;
	width: 205px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #606060;
	height: 20px;
	width: 20px;
	opacity: 0.5;
	border-radius: 50%;
}
input[type=range]::-moz-range-track{
	height: 0;
}
input[type=range]::-moz-range-thumb{
	background: #606060;
	height: 20px;
	width: 20px;
	opacity: 0.5;
	border: none;
	border-radius: 50%;
}
input[type=range]:focus {
	outline: 0;
}
.gaugeVal {
	font-size:12px;
}
.lifeVal {
	color: #ff9966;
}
.gaugeTable {
	width: 280px;
	margin: 0 auto;
	border: 1px #666666 solid; 
	border-collapse: collapse;
}
.gaugeTable td {
	width: 65px;
}

/* 左から右へ */
@keyframes leftToRight {
	0% {
		opacity: 0;/* 透明 */
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: translateX(0);
	}
}

/* 上から下へ */
@keyframes upToDown {
	0% {
		opacity: 0;/* 透明 */
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: translateY(0);
	}
}

/* 左から右へ移動し、フェードアウト（結果画面で使用） */
@keyframes leftToRightFade {
	0% {
		opacity: 0;/* 透明 */
		transform: translateX(-30px);
	}
	30% {
		opacity: 1;/* 不透明 */
		transform: translateX(0);
	}
	60% {
		opacity: 1;/* 不透明 */
		transform: translateX(0);
	}
	100% {
		opacity: 0;/* 透明 */
		transform: translateX(30px);
	}
}

/* 上から下へ移動し、フェードアウト（結果画面で使用） */
@keyframes upToDownFade {
	0% {
		opacity: 0;/* 透明 */
		transform: translateY(-30px);
	}
	30% {
		opacity: 1;/* 不透明 */
		transform: translateY(0);
	}
	80% {
		opacity: 1;/* 不透明 */
		transform: translateY(0);
	}
	100% {
		opacity: 0;/* 透明 */
		transform: translateY(10px);
	}
}

/* 徐々に表示（結果画面で使用） */
@keyframes slowlyAppearing {
	0% {
		opacity: 0.5;/* 透明 */
	}
	80% {
		opacity: 0.5;/* 透明 */
	}
	100% {
		opacity: 1;/* 不透明 */
	}
}

/* 文字拡大から元のサイズへ戻る */
@keyframes fromBig {
	0% {
		opacity: 0;/* 透明 */
		transform: scale(1.5, 1.5);
		
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: scale(1, 1);
	}
}

/* 徐々に表示(Y方向) */
@keyframes smallToNormalY {
	0% {
		opacity: 0;/* 透明 */
		transform: scale(1, 0);
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: scale(1, 1);
	}
}

/* X軸回転 */
@keyframes spinX {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

/* Y軸回転 */
@keyframes spinY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

/* Z軸回転 */
@keyframes spinZ {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

/* ぼかし */
@keyframes blur {
	0% {
		filter: blur(8px);
	}
	100% {
		filter: blur(0);
	}
}

/* 発光から暗くなり元に戻る */
@keyframes brightToDark {
	0% {
		filter: brightness(0.0);
	}
	30% {
		filter: brightness(2.0);
	}
	70% {
		filter: brightness(0.0);
	}
	100% {
		filter: brightness(1.0);
	}
}

/* フェードイン */
@keyframes fadeIn0 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* フェードアウト */
@keyframes fadeOut0 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut1 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* タイトルデフォルトモーション（HTML側で上書き可能） */
#lblmusicTitle {
	animation-duration: 1.5s;
	animation-name: leftToRight;
}

.toRight {
	animation-name: leftToRight;
}
.toSpin {
	animation-name: spinY;
}

/* Appearance用 クリッピングマスク */
.Hidden0 {
	clip-path: inset(50% 0% 0% 0%);
}
.Hidden1 {
	clip-path: inset(0% 0% 50% 0%);
}
.Sudden0 {
	clip-path: inset(0% 0% 40% 0%);
}
.Sudden1 {
	clip-path: inset(40% 0% 0% 0%);
}
.Slit0 {
	clip-path: polygon(5% 0%, 100% 0%, 100% 30%, 5% 30%, 5% 45%, 100% 45%, 100% 55%, 5% 55%, 5% 70%, 100% 70%, 100% 100%, 5% 100%);
}
.Slit1 {
	clip-path: polygon(5% 0%, 100% 0%, 100% 30%, 5% 30%, 5% 45%, 100% 45%, 100% 55%, 5% 55%, 5% 70%, 100% 70%, 100% 100%, 5% 100%);
}

/* 設定別カラー */
.settings_Title::first-letter {
	color:#6666ff;
	font-size:40px;
}
.settings_Title2::first-letter {
	color:#ff6666;
	font-size:40px;
}
.settings_Display::first-letter {
	color:#ffff66;
	font-size:40px;
}
.settings_Difficulty::first-letter {
	color:#ff9999;
}
.settings_Speed::first-letter {
	color:#ffff99;
}
.settings_Motion::first-letter {
	color:#eeff99;
}
.settings_Reverse::first-letter {
	color:#ddff99;
}
.settings_Shuffle::first-letter {
	color:#99ff99;
}
.settings_AutoPlay::first-letter {
	color:#99ffbb;
}
.settings_Gauge::first-letter {
	color:#99ffdd;
}
.settings_Adjustment::first-letter {
	color:#99ffff;
}
.settings_Fadein::first-letter {
	color:#99eeff;
}
.settings_Volume::first-letter {
	color:#99ddff;
}
.settings_Appearance::first-letter {
	color:#cc99ff;
}

.result_AllPerfect {
	color:#ffffff;
}
.result_Perfect {
	color:#ffffcc;
}
.result_FullCombo {
	color:#66ffff;
}
.result_Cleared {
	color:#ffff66;
}
.result_Failed {
	color:#ff6666;
}
.result_Window::first-letter {
	font-size:80px;
}

/* ボタン一般 */
.button_common {
	transition: background-color 0.25s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex_centering {
	display: flex;
	justify-content: center;
}