@charset "UTF-8";
#canvas-frame {
	height:500px;
	position: relative;
	overflow: hidden;
}
#canvas-frame canvas {
	position: absolute;
	left:0;
	overflow: hidden;
}
.arrow {
	mask-image: url("../img/arrow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/arrow_500.png");
	-webkit-mask-size: contain;
}
.arrowShadow {
	mask-image: url("../img/arrowShadow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/arrowShadow_500.png");
	-webkit-mask-size: contain;
}
.frzBar {
	mask-image: url("../img/frzbar.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/frzbar.png");
	-webkit-mask-size: contain;
}
.lifeBorder {
	mask-image: url("../img/borderline.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/borderline.png");
	-webkit-mask-size: contain;
}
.onigiri {
	mask-image: url("../img/onigiri_600.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/onigiri_600.png");
	-webkit-mask-size: contain;
}
.onigiriarrowShadow {
	mask-image: url("../img/aaShadow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/aaShadow_500.png");
	-webkit-mask-size: contain;
}
.giko {
	mask-image: url("../img/giko_600.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/giko_600.png");
	-webkit-mask-size: contain;
}
.gikoarrowShadow {
	mask-image: url("../img/aaShadow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/aaShadow_500.png");
	-webkit-mask-size: contain;
}
.iyo {
	mask-image: url("../img/iyo_600.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/iyo_600.png");
	-webkit-mask-size: contain;
}
.iyoarrowShadow {
	mask-image: url("../img/aaShadow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/aaShadow_500.png");
	-webkit-mask-size: contain;
}
.c {
	mask-image: url("../img/c_600.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/c_600.png");
	-webkit-mask-size: contain;
}
.carrowShadow {
	mask-image: url("../img/aaShadow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/aaShadow_500.png");
	-webkit-mask-size: contain;
}
.morara {
	mask-image: url("../img/morara_600.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/morara_600.png");
	-webkit-mask-size: contain;
}
.moraraarrowShadow {
	mask-image: url("../img/aaShadow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/aaShadow_500.png");
	-webkit-mask-size: contain;
}
.monar {
	mask-image: url("../img/monar_600.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/monar_600.png");
	-webkit-mask-size: contain;
}
.monararrowShadow {
	mask-image: url("../img/aaShadow_500.png");
	mask-size: contain;
	-webkit-mask-image: url("../img/aaShadow_500.png");
	-webkit-mask-size: contain;
}
input[type=range] {
	-webkit-appearance: none;
	background: transparent;
	height: 20px;
	width: 205px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #606060;
	height: 20px;
	width: 20px;
	opacity: 0.5;
	border-radius: 50%;
}
input[type=range]::-moz-range-track{
	height: 0;
}
input[type=range]::-moz-range-thumb{
	background: #606060;
	height: 20px;
	width: 20px;
	opacity: 0.5;
	border: none;
	border-radius: 50%;
}
input[type=range]:focus {
	outline: 0;
}
.gaugeVal {
	font-size:12px;
}
.lifeVal {
	color: #ff9966;
}
.gaugeTable {
	width: 250px;
	margin: 0 auto;
	border: 1px #666666 solid; 
	border-collapse: collapse;
}
.gaugeTable td {
	width: 55px;
}

/* 左から右へ */
@keyframes leftToRight {
	0% {
		opacity: 0;/* 透明 */
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: translateX(0);
	}
}

/* 上から下へ */
@keyframes upToDown {
	0% {
		opacity: 0;/* 透明 */
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: translateY(0);
	}
}

/* 左から右へ移動し、フェードアウト（結果画面で使用） */
@keyframes leftToRightFade {
	0% {
		opacity: 0;/* 透明 */
		transform: translateX(-30px);
	}
	30% {
		opacity: 1;/* 不透明 */
		transform: translateX(0);
	}
	60% {
		opacity: 1;/* 不透明 */
		transform: translateX(0);
	}
	100% {
		opacity: 0;/* 透明 */
		transform: translateX(30px);
	}
}

/* 上から下へ移動し、フェードアウト（結果画面で使用） */
@keyframes upToDownFade {
	0% {
		opacity: 0;/* 透明 */
		transform: translateY(-30px);
	}
	30% {
		opacity: 1;/* 不透明 */
		transform: translateY(0);
	}
	80% {
		opacity: 1;/* 不透明 */
		transform: translateY(0);
	}
	100% {
		opacity: 0;/* 透明 */
		transform: translateY(10px);
	}
}

/* 徐々に表示（結果画面で使用） */
@keyframes slowlyAppearing {
	0% {
		opacity: 0.5;/* 透明 */
	}
	80% {
		opacity: 0.5;/* 透明 */
	}
	100% {
		opacity: 1;/* 不透明 */
	}
}

/* 文字拡大から元のサイズへ戻る */
@keyframes fromBig {
	0% {
		opacity: 0;/* 透明 */
		transform: scale(1.5, 1.5);
		
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: scale(1, 1);
	}
}

/* 徐々に表示(Y方向) */
@keyframes smallToNormalY {
	0% {
		opacity: 0;/* 透明 */
		transform: scale(1, 0);
	}
	100% {
		opacity: 1;/* 不透明 */
		transform: scale(1, 1);
	}
}

/* X軸回転 */
@keyframes spinX {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

/* Y軸回転 */
@keyframes spinY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

/* Z軸回転 */
@keyframes spinZ {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

/* ぼかし */
@keyframes blur {
	0% {
		filter: blur(8px);
	}
	100% {
		filter: blur(0);
	}
}

/* 発光から暗くなり元に戻る */
@keyframes brightToDark {
	0% {
		filter: brightness(0.0);
	}
	30% {
		filter: brightness(2.0);
	}
	70% {
		filter: brightness(0.0);
	}
	100% {
		filter: brightness(1.0);
	}
}

/* フェードイン */
@keyframes fadeIn0 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* フェードアウト */
@keyframes fadeOut0 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut1 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* タイトルデフォルトモーション（HTML側で上書き可能） */
#lblmusicTitle {
	animation-duration: 1.5s;
	animation-name: leftToRight;
}

.toRight {
	animation-name: leftToRight;
}
.toSpin {
	animation-name: spinY;
}

/* Appearance用 クリッピングマスク */
.Hidden0 {
	clip-path: inset(50% 0% 0% 0%);
}
.Hidden1 {
	clip-path: inset(0% 0% 50% 0%);
}
.Sudden0 {
	clip-path: inset(0% 0% 40% 0%);
}
.Sudden1 {
	clip-path: inset(40% 0% 0% 0%);
}
.Slit0 {
	clip-path: polygon(5% 0%, 100% 0%, 100% 30%, 5% 30%, 5% 45%, 100% 45%, 100% 55%, 5% 55%, 5% 70%, 100% 70%, 100% 100%, 5% 100%);
}
.Slit1 {
	clip-path: polygon(5% 0%, 100% 0%, 100% 30%, 5% 30%, 5% 45%, 100% 45%, 100% 55%, 5% 55%, 5% 70%, 100% 70%, 100% 100%, 5% 100%);
}