@charset "UTF-8";

/* ----------------------------------------
  Dancing☆Onigiri (CW Edition)
  スキンcssファイル (default)

  Created : 2019/11/04
  Revised : 2024/05/18 (v36.4.1)

  https://github.com/cwtickle/danoniplus
------------------------------------------ */

:root {
	/* 背景 */
	--background: linear-gradient(#000000, #222222);
	/* --back-chartDetail: var(--background); */
	/* --back-difListL: var(--background); */
	/* --back-difListR: var(--back-difListL, var(--background)); */

	/* タイトル共通色 */
	--title-base: #cccccc;

	/* 画面タイトル色 */
	--title-dancing: #6666ff;
	--title-onigiri: #ff6666;
	--title-star: #ffff66;
	--title-display: #ffff66;

	/* タイトルサイズ */
	--title-siz-x: 40px;

	/* 設定別ヘッダー */
	--settings-difficulty-x: #ff9999;
	--settings-speed-x: #ffff99;
	--settings-motion-x: #eeff99;
	--settings-scroll-x: #ddff99;
	--settings-shuffle-x: #99ff99;
	--settings-autoPlay-x: #99ffbb;
	--settings-gauge-x: #99ffdd;
	--settings-adjustment-x: #99ffff;
	--settings-fadein-x: #99eeff;
	--settings-volume-x: #99ddff;
	--settings-appearance-x: #cc99ff;
	--settings-opacity-x: #ee99ff;
	--settings-hitPosition-x: #ff99ff;

	/* 譜面選択部分背景 */
	--settings-difSelector: #111111;

	/* 設定無効化時 */
	--settings-disabled-x: #666666;

	/* フェードインバー */
	--settings-fadeinBar-x: #ffffff;

	/* ゲージ表示 (可変) */
	--settings-lifeVal-x: #ff9966;

	/* ゲージ設定枠 */
	--settings-bc-gaugeTable: #666666;
	--settings-slice-gaugeTable-x: 1;
	--settings-border-gaugeTable-x: 1px;

	/* キーコンフィグ関連 */
	--keyconfig-warning-x: #ffff99;
	--keyconfig-imgType-x: #99ddff;
	--keyconfig-colorType-x: #ffdd99;
	--keyconfig-changekey-x: #ffff00;
	--keyconfig-defaultkey-x: #99ccff;
	/* --keyconfig-colorGr-x: var(--settings-colorType-x); */
	/* --keyconfig-shuffleGr-x: var(--settings-shuffle-x); */
	/* --keyconfig-stepRtnGr-x: var(--settings-adjustment-x); */

	/* 判定 */
	--common-ii: #66ffff;
	--common-shakin: #99ff99;
	--common-matari: #ff9966;
	--common-shobon: #ccccff;
	--common-uwan: #ff9999;
	--common-kita: #ffff99;
	--common-iknai: #99ff66;
	--common-combo: #ffffff;
	--common-score-x: #ffffff;
	/* --common-comboJ: var(--common-kita); */
	/* --common-comboFJ: var(--common-ii); */
	/* --common-diffFast: var(--common-matari); */
	/* --common-diffSlow: var(--common-shobon); */
	/* --common-estAdj: var(--common-shakin); */
	/* --common-excessive: var(--common-kita); */

	/* ステップゾーン */
	--main-stepKeyDown: #66ffff;
	--main-stepDefault: #999999;
	--main-stepDummy: #777777;
	--main-stepIi: var(--common-ii);
	--main-stepShakin: var(--common-shakin);
	--main-stepMatari: var(--common-matari);
	--main-stepShobon: var(--common-shobon);
	--main-stepExcessive: #ffff99;
	--main-objStepShadow: #000000;
	--main-objFrzShadow: #000000;
	--main-frzHitTop: #ffffff;

	/* ライフゲージ */
	--life-max: #444400;
	--life-cleared: #004444;
	--life-failed: #444444;

	/* ライフゲージ本体 */
	--life-background: #222222;
	--life-bg-border: #555555;
	--life-color-border-x: #cccccc;

	/* 結果画面 */
	--result-lbl-x: #999999;
	--result-style-x: #cccccc;

	--result-bc-playwindow: #666666;
	--result-slice-playwindow-x: 1;
	--result-border-playwindow-x: 1px;

	--result-score-x: #ffffff;
	--result-scoreHiBracket-x: #999999;
	--result-scoreHi-x: #cccccc;
	--result-scoreHiPlus-x: #ffff99;
	--result-noRecord-x: #999999;

	--result-allPerfect: #ffffff;
	--result-perfect: #ffffcc;
	--result-fullCombo: #66ffff;
	--result-cleared: #ffff66;
	--result-failed: #ff6666;

	/* 結果画面のCleared/Failedを表示している文字のサイズ */
	--result-siz-window-x: 80px;

	/* ボタン */
	/* Click Here */
	--button-bg-start: #333333;
	--button-color-start-x: #ffffff;
	--button-bgHover-start: #666666;
	--button-colorHover-start-x: #ffffff;

	/* 汎用 */
	--button-bg-default: #111111;
	--button-color-default-x: #ffffff;
	--button-bgHover-default: #666666;
	--button-colorHover-default-x: #ffffff;

	/* 汎用(背景が透明) */
	--button-bg-defaultNo: #00000000;
	--button-bgHover-defaultNo: #666666;

	/* 設定用ミニボタン */
	--button-bg-mini: #333333;
	--button-color-mini-x: #ffffff;
	--button-bgHover-mini: #999900;
	--button-colorHover-mini-x: #ffffff;

	/* 戻るボタン */
	--button-bg-back: #111133;
	--button-color-back-x: #cccccc;
	--button-bgHover-back: #000099;
	--button-colorHover-back-x: #cccccc;

	/* 設定ボタン */
	--button-bg-setting: #333311;
	--button-color-setting-x: #ffffff;
	--button-bgHover-setting: #999900;
	--button-colorHover-setting-x: #ffffff;

	/* 開始ボタン */
	--button-bg-next: #331111;
	--button-color-next-x: #ffffff;
	--button-bgHover-next: #990000;
	--button-colorHover-next-x: #ffffff;

	/* リセットボタン */
	--button-bg-reset: #113311;
	--button-color-reset-x: #ffffff;
	--button-bgHover-reset: #009900;
	--button-colorHover-reset-x: #ffffff;

	/* 外部SNSボタン */
	--button-bg-sns: #113333;
	--button-color-sns-x: #ffffff;
	--button-bgHover-sns: #009999;
	--button-colorHover-sns-x: #ffffff;
	--button-bgHover-discord: #666699;

	/* ON/OFFボタン */
	--button-color-off-x: #666666;
	--button-border-off-x: #000000 #333333;
	--button-color-on-x: #ffffff;
	--button-border-on-x: #000000 #cccccc;

	/* ON/OFFボタン Reverse用 */
	--button-color-offRev-x: #cccccc;
	--button-border-offRev-x: #000000 #999999;
	--button-color-onRev-x: #ffffff;
	--button-border-onRev-x: #000000 #ddff99;

	/* ON/OFFボタン 無効時 */
	--button-bg-offDisabled: #333333;
	--button-color-offDisabled-x: #999999;
	--button-bg-onDisabled: #009999;
	--button-color-onDisabled-x: #ffffff;
}