@charset "UTF-8";

/* ----------------------------------------
  Dancing☆Onigiri (CW Edition)
  スキンcssファイル (light)

  Created : 2019/11/04
  Revised : 2024/05/18 (v36.4.1)

  https://github.com/cwtickle/danoniplus
------------------------------------------ */

:root {
	/* 背景 */
	--background: linear-gradient(#dddddd, #ffffff);
	/* --back-chartDetail: var(--background); */
	/* --back-difListL: var(--background); */
	/* --back-difListR: var(--back-difListL, var(--background)); */

	/* タイトル共通色 */
	--title-base: #222222;

	/* 画面タイトル色 */
	--title-dancing: #000099;
	--title-onigiri: #990000;
	--title-star: #999900;
	--title-display: #777700;

	/* タイトルサイズ */
	--title-siz-x: 40px;

	/* 設定別ヘッダー */
	--settings-difficulty-x: #990000;
	--settings-speed-x: #777700;
	--settings-motion-x: #667700;
	--settings-scroll-x: #557733;
	--settings-shuffle-x: #337733;
	--settings-autoPlay-x: #337744;
	--settings-gauge-x: #227755;
	--settings-adjustment-x: #007777;
	--settings-fadein-x: #005577;
	--settings-volume-x: #003377;
	--settings-appearance-x: #9900ff;
	--settings-opacity-x: #cc00ff;
	--settings-hitPosition-x: #ff00ff;

	/* 譜面選択部分背景 */
	--settings-difSelector: #eeeeee;

	/* 設定無効化時 */
	--settings-disabled-x: #999999;

	/* フェードインバー */
	--settings-fadeinBar-x: #000000;

	/* ゲージ表示 (可変) */
	--settings-lifeVal-x: #996600;

	/* ゲージ設定枠 */
	--settings-bc-gaugeTable: #222222;
	--settings-slice-gaugeTable-x: 1;
	--settings-border-gaugeTable-x: 1px;

	/* キーコンフィグ関連 */
	--keyconfig-warning-x: #999900;
	--keyconfig-imgType-x: #003377;
	--keyconfig-colorType-x: #773300;
	--keyconfig-changekey-x: #999900;
	--keyconfig-defaultkey-x: #000099;
	/* --keyconfig-colorGr-x: var(--settings-colorType-x); */
	/* --keyconfig-shuffleGr-x: var(--settings-shuffle-x); */
	/* --keyconfig-stepRtnGr-x: var(--settings-adjustment-x); */

	/* 判定 */
	--common-ii: #009999;
	--common-shakin: #009900;
	--common-matari: #cc8800;
	--common-shobon: #0000cc;
	--common-uwan: #cc0000;
	--common-kita: #999900;
	--common-iknai: #669900;
	--common-combo: #000000;
	--common-score-x: #000000;
	/* --common-comboJ: var(--common-kita); */
	/* --common-comboFJ: var(--common-ii); */
	/* --common-diffFast: var(--common-matari); */
	/* --common-diffSlow: var(--common-shobon); */
	/* --common-estAdj: var(--common-shakin); */
	/* --common-excessive: var(--common-kita); */

	/* ステップゾーン */
	--main-stepKeyDown: #009999;
	--main-stepDefault: #666666;
	--main-stepDummy: #666666;
	--main-stepIi: var(--common-ii);
	--main-stepShakin: var(--common-shakin);
	--main-stepMatari: var(--common-matari);
	--main-stepShobon: var(--common-shobon);
	--main-stepExcessive: #999900;
	--main-objStepShadow: #eeeeee;
	--main-objFrzShadow: #666666;
	--main-frzHitTop: #cccccc;

	/* ライフゲージ */
	--life-max: #cccc66;
	--life-cleared: #66cccc;
	--life-failed: #999999;

	/* ライフゲージ本体 */
	--life-background: #cccccc;
	--life-bg-border: #555555;
	--life-color-border-x: #cccccc;

	/* 結果画面 */
	--result-lbl-x: #333333;
	--result-style-x: #111111;

	--result-bc-playwindow: #666666;
	--result-slice-playwindow-x: 1;
	--result-border-playwindow-x: 1px;

	--result-score-x: #000000;
	--result-scoreHiBracket-x: #222222;
	--result-scoreHi-x: #000000;
	--result-scoreHiPlus-x: #777700;
	--result-noRecord-x: #222222;

	--result-allPerfect: #999999;
	--result-perfect: #999900;
	--result-fullCombo: #007777;
	--result-cleared: #666600;
	--result-failed: #990000;

	/* 結果画面のCleared/Failedを表示している文字のサイズ */
	--result-siz-window-x: 80px;

	/* ボタン */
	/* Click Here */
	--button-bg-start: #dddddd;
	--button-color-start-x: #000000;
	--button-bgHover-start: #999999;
	--button-colorHover-start-x: #000000;

	/* 汎用 */
	--button-bg-default: #eeeeee;
	--button-color-default-x: #000000;
	--button-bgHover-default: #bbbbbb;
	--button-colorHover-default-x: #000000;

	/* 汎用(背景が透明) */
	--button-bg-defaultNo: #00000000;
	--button-bgHover-defaultNo: #bbbbbb;

	/* 設定用ミニボタン */
	--button-bg-mini: #cccccc;
	--button-color-mini-x: #000000;
	--button-bgHover-mini: #999999;
	--button-colorHover-mini-x: #000000;

	/* 戻るボタン */
	--button-bg-back: #ccccff;
	--button-color-back-x: #000000;
	--button-bgHover-back: #9999ff;
	--button-colorHover-back-x: #000000;

	/* 設定ボタン */
	--button-bg-setting: #ffffcc;
	--button-color-setting-x: #000000;
	--button-bgHover-setting: #ffff66;
	--button-colorHover-setting-x: #000000;

	/* 開始ボタン */
	--button-bg-next: #ffcccc;
	--button-color-next-x: #000000;
	--button-bgHover-next: #ff9999;
	--button-colorHover-next-x: #000000;

	/* リセットボタン */
	--button-bg-reset: #ccffcc;
	--button-color-reset-x: #000000;
	--button-bgHover-reset: #99ff99;
	--button-colorHover-reset-x: #000000;

	/* 外部SNSボタン */
	--button-bg-sns: #ccffff;
	--button-color-sns-x: #000000;
	--button-bgHover-sns: #66ffff;
	--button-colorHover-sns-x: #000000;
	--button-bgHover-discord: #bbbbbb;

	/* ON/OFFボタン */
	--button-color-off-x: #cccccc;
	--button-border-off-x: #00000000 #cccccc;
	--button-color-on-x: #000000;
	--button-border-on-x: #00000000 #333333;

	/* ON/OFFボタン Reverse用 */
	--button-color-offRev-x: #666666;
	--button-border-offRev-x: #00000000 #666666;
	--button-color-onRev-x: #000000;
	--button-border-onRev-x: #00000000 #557733;

	/* ON/OFFボタン 無効時 */
	--button-bg-offDisabled: #999999;
	--button-color-offDisabled-x: #333333;
	--button-bg-onDisabled: #ffffff;
	--button-color-onDisabled-x: #009999;
}