@charset "UTF-8";

/* ----------------------------------------
  Dancing☆Onigiri (CW Edition)
  スキンcssファイル (skyblue)

  Created : 2019/11/04
  Revised : 2023/06/24 (v32.5.0)

  https://github.com/cwtickle/danoniplus
------------------------------------------ */

:root {
	/* 背景 */
	--background: linear-gradient(#ccffff, #ccccff);

	/* タイトル共通色 */
	--title-base: #222222;

	/* 画面タイトル色 */
	--title-dancing: #000099;
	--title-onigiri: #990000;
	--title-star: #999900;
	--title-display: #777700;

	/* タイトルサイズ */
	--title-siz-x: 40px;

	/* 設定別ヘッダー */
	--settings-difficulty: #000099;
	--settings-speed: #003399;
	--settings-motion: #006699;
	--settings-scroll: #009999;
	--settings-shuffle: #006699;
	--settings-autoPlay: #003399;
	--settings-gauge: #000099;
	--settings-adjustment: #003399;
	--settings-fadein: #006699;
	--settings-volume: #009999;
	--settings-appearance: #9900ff;
	--settings-opacity: #cc00ff;
	--settings-hitPosition: #ff00ff;

	/* 譜面選択部分背景 */
	--settings-difselector: #ccddee;

	/* 設定無効化時 */
	--settings-disabled: #999999;

	/* フェードインバー */
	--settings-fadeinBar: #000000;

	/* ゲージ表示 (可変) */
	--settings-lifeVal: #996600;

	/* ゲージ設定枠 */
	--settings-gaugeTable: #222222;

	/* キーコンフィグ関連 */
	--keyconfig-warning: #999900;
	--keyconfig-imgType: #003377;
	--keyconfig-colorType: #773300;
	--keyconfig-changekey: #999900;
	--keyconfig-defaultkey: #000099;

	/* 判定 */
	--common-ii: #009999;
	--common-shakin: #009900;
	--common-matari: #cc8800;
	--common-shobon: #0000cc;
	--common-uwan: #cc0000;
	--common-kita: #999900;
	--common-iknai: #669900;
	--common-combo: #000000;
	--common-score: #000000;

	/* ステップゾーン */
	--main-stepKeyDown: #009999;
	--main-stepDefault: #666666;
	--main-stepDummy: #666666;
	--main-stepIi: var(--common-ii);
	--main-stepShakin: var(--common-shakin);
	--main-stepMatari: var(--common-matari);
	--main-stepShobon: var(--common-shobon);
	--main-stepExcessive: #999900;
	--main-objStepShadow: #eeeeee;
	--main-objShadow: #666666;
	--main-frzHitTop: #cccccc;

	/* ライフゲージ */
	--life-max: #cccc66;
	--life-cleared: #66cccc;
	--life-failed: #999999;
	--life-background: #cccccc;
	--life-bg-border: #555555;
	--life-color-border: #cccccc;

	/* 結果画面 */
	--result-lbl: #333333;
	--result-style: #111111;

	--result-playwindow-x: solid 0.5px #666666;
	--result-score: #000000;
	--result-scoreHiBracket: #222222;
	--result-scoreHi: #000000;
	--result-scoreHiPlus: #777700;
	--result-noRecord: #222222;

	--result-allPerfect: #999999;
	--result-perfect: #999900;
	--result-fullCombo: #007777;
	--result-cleared: #666600;
	--result-failed: #990000;

	--result-siz-window-x: 80px;

	/* ボタン */
	--button-bg-start: #ddffff;
	--button-color-start: #000000;
	--button-bgHover-start: #66ccff;
	--button-colorHover-start: #000000;

	--button-bg-default: #00000000;
	--button-color-default: #000000;
	--button-bgHover-default: #99ccff;
	--button-colorHover-default: #000000;

	--button-bg-defaultNo: #00000000;
	--button-bgHover-defaultNo: #99ccff;

	--button-bg-mini: #bbccdd;
	--button-color-mini: #000000;
	--button-bgHover-mini: #99aabb;
	--button-colorHover-mini: #000000;

	--button-bg-back: #ccccff;
	--button-color-back: #000000;
	--button-bgHover-back: #9999ff;
	--button-colorHover-back: #000000;

	--button-bg-setting: #ffffcc;
	--button-color-setting: #000000;
	--button-bgHover-setting: #ffff66;
	--button-colorHover-setting: #000000;

	--button-bg-next: #ffcccc;
	--button-color-next: #000000;
	--button-bgHover-next: #ff9999;
	--button-colorHover-next: #000000;

	--button-bg-reset: #ccffcc;
	--button-color-reset: #000000;
	--button-bgHover-reset: #99ff99;
	--button-colorHover-reset: #000000;

	--button-bg-tweet: #ccffff;
	--button-color-tweet: #000000;
	--button-bgHover-tweet: #66ffff;
	--button-colorHover-tweet: #000000;

	--button-color-off: #cccccc;
	--button-border-off-x: #00000000 #999999;
	--button-color-on: #000000;
	--button-border-on-x: #00000000 #333333;

	--button-color-offRev: #666666;
	--button-border-offRev-x: #00000000 #666666;
	--button-color-onRev: #000000;
	--button-border-onRev-x: #00000000 #009999;

	--button-bg-offDisabled: #999999;
	--button-color-offDisabled: #333333;
	--button-bg-onDisabled: #ffffff;
	--button-color-onDisabled: #009999;
}