@charset "UTF-8";

/* ----------------------------------------
  Dancing☆Onigiri (CW Edition)
  スキンcssファイル (default)

  Created : 2019/11/04
  Revised : 2023/06/24 (v32.5.0)

  https://github.com/cwtickle/danoniplus
------------------------------------------ */

:root {
	/* 背景 */
	--background: linear-gradient(#000000, #222222);

	/* タイトル共通色 */
	--title-base: #cccccc;

	/* 画面タイトル色 */
	--title-dancing: #6666ff;
	--title-onigiri: #ff6666;
	--title-star: #ffff66;
	--title-display: #ffff66;

	/* タイトルサイズ */
	--title-siz-x: 40px;

	/* 設定別ヘッダー */
	--settings-difficulty: #ff9999;
	--settings-speed: #ffff99;
	--settings-motion: #eeff99;
	--settings-scroll: #ddff99;
	--settings-shuffle: #99ff99;
	--settings-autoPlay: #99ffbb;
	--settings-gauge: #99ffdd;
	--settings-adjustment: #99ffff;
	--settings-fadein: #99eeff;
	--settings-volume: #99ddff;
	--settings-appearance: #cc99ff;
	--settings-opacity: #ee99ff;
	--settings-hitPosition: #ff99ff;

	/* 譜面選択部分背景 */
	--settings-difselector: #111111;

	/* 設定無効化時 */
	--settings-disabled: #666666;

	/* フェードインバー */
	--settings-fadeinBar: #ffffff;

	/* ゲージ表示 (可変) */
	--settings-lifeVal: #ff9966;

	/* ゲージ設定枠 */
	--settings-gaugeTable: #666666;

	/* キーコンフィグ関連 */
	--keyconfig-warning: #ffff99;
	--keyconfig-imgType: #99ddff;
	--keyconfig-colorType: #ffdd99;
	--keyconfig-changekey: #ffff00;
	--keyconfig-defaultkey: #99ccff;

	/* 判定 */
	--common-ii: #66ffff;
	--common-shakin: #99ff99;
	--common-matari: #ff9966;
	--common-shobon: #ccccff;
	--common-uwan: #ff9999;
	--common-kita: #ffff99;
	--common-iknai: #99ff66;
	--common-combo: #ffffff;
	--common-score: #ffffff;

	/* ステップゾーン */
	--main-stepKeyDown: #66ffff;
	--main-stepDefault: #999999;
	--main-stepDummy: #777777;
	--main-stepIi: var(--common-ii);
	--main-stepShakin: var(--common-shakin);
	--main-stepMatari: var(--common-matari);
	--main-stepShobon: var(--common-shobon);
	--main-stepExcessive: #ffff99;
	--main-objStepShadow: #000000;
	--main-objShadow: #000000;
	--main-frzHitTop: #ffffff;

	/* ライフゲージ */
	--life-max: #444400;
	--life-cleared: #004444;
	--life-failed: #444444;
	--life-background: #222222;
	--life-bg-border: #555555;
	--life-color-border: #cccccc;

	/* 結果画面 */
	--result-lbl: #999999;
	--result-style: #cccccc;

	--result-playwindow-x: solid 0.5px #666666;
	--result-score: #ffffff;
	--result-scoreHiBracket: #999999;
	--result-scoreHi: #cccccc;
	--result-scoreHiPlus: #ffff99;
	--result-noRecord: #999999;

	--result-allPerfect: #ffffff;
	--result-perfect: #ffffcc;
	--result-fullCombo: #66ffff;
	--result-cleared: #ffff66;
	--result-failed: #ff6666;

	--result-siz-window-x: 80px;

	/* ボタン */
	--button-bg-start: #333333;
	--button-color-start: #ffffff;
	--button-bgHover-start: #666666;
	--button-colorHover-start: #ffffff;

	--button-bg-default: #111111;
	--button-color-default: #ffffff;
	--button-bgHover-default: #666666;
	--button-colorHover-default: #ffffff;

	--button-bg-defaultNo: #00000000;
	--button-bgHover-defaultNo: #666666;

	--button-bg-mini: #333333;
	--button-color-mini: #ffffff;
	--button-bgHover-mini: #999900;
	--button-colorHover-mini: #ffffff;

	--button-bg-back: #111133;
	--button-color-back: #cccccc;
	--button-bgHover-back: #000099;
	--button-colorHover-back: #cccccc;

	--button-bg-setting: #333311;
	--button-color-setting: #ffffff;
	--button-bgHover-setting: #999900;
	--button-colorHover-setting: #ffffff;

	--button-bg-next: #331111;
	--button-color-next: #ffffff;
	--button-bgHover-next: #990000;
	--button-colorHover-next: #ffffff;

	--button-bg-reset: #113311;
	--button-color-reset: #ffffff;
	--button-bgHover-reset: #009900;
	--button-colorHover-reset: #ffffff;

	--button-bg-tweet: #113333;
	--button-color-tweet: #ffffff;
	--button-bgHover-tweet: #009999;
	--button-colorHover-tweet: #ffffff;

	--button-color-off: #666666;
	--button-border-off-x: #000000 #333333;
	--button-color-on: #ffffff;
	--button-border-on-x: #000000 #cccccc;

	--button-color-offRev: #cccccc;
	--button-border-offRev-x: #000000 #999999;
	--button-color-onRev: #ffffff;
	--button-border-onRev-x: #000000 #ddff99;

	--button-bg-offDisabled: #333333;
	--button-color-offDisabled: #999999;
	--button-bg-onDisabled: #009999;
	--button-color-onDisabled: #ffffff;
}